[submodule "FastChat"]
	path = FastChat
	url = git@github.com:AsaCooperStickland/FastChat.git
[submodule "representation-engineering"]
	path = representation-engineering
	url = https://github.com/alexlyzhov/representation-engineering
