[submodule "FastChat"]
	path = FastChat
	url = git@github.com:AsaCooperStickland/FastChat.git
[submodule "representation"]
	path = representation
	url = git@github.com:AsaCooperStickland/representation-engineering.git
